<p>error-page works!</p>
<ul>
    <li>
        <a routerLink="/auth/login">
            Ir a Login
        </a>
    </li>

    <li>
        <a routerLink="/auth/registro">
            Ir a registro
        </a>
    </li>
        
    <li>
        <a routerLink="/heroes/listado">
            Ir al listado
        </a>
    </li>

     <!--<li>
        <a routerLink="/heroes/agregar">
            Ir a agregar
        </a>
    </li>

   <li>
        <a routerLink="/heroes/editar/1">
            Ir a editar
        </a>
    </li>

    <li>
        <a routerLink="/heroes/buscar">
            Ir a buscar
        </a>
    </li>

    <li>
        <a routerLink="/heroes/1">
            Ir a Heroe
        </a>
    </li>-->
</ul>

