<h1>
    Nuevo heroe
    <small>
        asd
    </small>
</h1>

<div 
    fxLayout = "row" 
    fxLayout = "40px">
    
    <div 
        fxFlex   = "50"
        fxLayout = "column">
        
        <div 
            fxLayout    = "row"
            fxLayoutGap = "20px">

            <mat-form-field fxFlex="100">
            
                <mat-label>Super Héroe</mat-label>
                
                <input 
                    matInput
                    type="text"
                    required 
                >
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input 
                    matInput
                    type="text"
                    required 
                >
            </mat-form-field>

        </div>

        <mat-form-field fxFlex="100">
            
            <mat-label>Primera aparicion</mat-label>
           
            <input 
                matInput
                type="text"
                required 
            >

        </mat-form-field>

        <mat-form-field fxFlex="100">
            
            <mat-label>Personajes</mat-label>
           
            <input 
                matInput
                type="text"
                required 
            >

        </mat-form-field>
        
        <mat-form-field fxFlex="100">

            <mat-label>Editora</mat-label>

            <mat-select>
                
                <mat-option 
                    *ngFor="let publisher of publishers"
                    [value]="publisher.id">

                    {{ publisher.id}}
                
                </mat-option>
            
            </mat-select>

        </mat-form-field>
        
        <mat-form-field fxFlex="100">

            <mat-label>Foto Url</mat-label>

            <mat-select>
                
                <input 
                    matInput
                    type="url"
                    required
                > 
        
            
            </mat-select>

        </mat-form-field>

        <br>

        <button 
            mat-raised-button
            color = "primary">

            <mat-icon>edit</mat-icon>

            Guardar
        
        </button>
    
    </div>

    <div fxFlex="50">
        
        <img [src]=" heroe | heroeImagen">

    </div>

</div>