<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let capital of capitales; let i = index">
            <td>{{i+1}}</td>
            <td>
                <img class="small-flag" 
                [src]="capital.flag">
                    
            </td>
            <td>{{capital.capital}}</td>
            <td>{{capital.population | number}}</td>
            <td>
                <a >Ver...</a>
            </td>
        </tr>
    </tbody>
</table>
