<div class="animate__animated animate__fadeIn">
    <h2>Por país</h2>
    <hr>
    
    <div class="row">
        <div class="col">
            <app-pais-input
                (onEnter)="buscar($event)"
                (onDebounce)="sugerencias($event)"
                placeholder="Buscar pais"
            ></app-pais-input>
        </div>
    </div>
    <ul class="list-group">
        <li 
            *ngFor="let pais of paisesSugeridos"
            class="list-group-item list-group-item-action">
            <a  class="nav-link"
                [routerLink]="['/pais',pais.alpha3Code]">
                {{ pais.name }}
            </a>
        </li>
        <li *ngIf="mostrarSugerencias"
            class="list-group-item list-group-item-action"
            (click)="buscarSugerido(termino)">
            <a  class="nav-link">
                {{ termino }}
            </a>
        </li>
    </ul>    
    <hr>
</div>


<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el témino {{termino}}
</div>

<div *ngIf="!hayError" 
    class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>