<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
              (ngSubmit)="buscar()">
            <input type="text"
                    name="termino"
                    class="form-control"
                    [(ngModel)]="termino"
                    placeholder="Buscar país"/>
        </form>
    </div>
</div>

<hr>

<div *ngIf="hayError"
    class="alert alert-danger">
    No se encontró nada con el témino {{termino}}
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td>12836127</td>
                    <td>
                        <a href="/pais/cri">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>